html, body {
    background-image: url('../Images/Dark_texture_background.jpg');
    background-size: cover;
    height: 100vh;
    /* background-color:black; */
}

.email {
    padding-top: 15px;
}

.card {
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 20px;
}

.icon:hover path  {
    fill: rgb(28, 95, 39);
}

.icon:hover polygon  {
    fill: rgb(28, 95, 39);
}