html, body {
    background-image: url('/Images/Dark_texture_background.jpg');
    background-size: cover;
    /* background-color:black; */
}

.email {
    padding-top: 15px;
}

.card {
    border-radius: 15px;
}

.icon:hover {
    fill: brown;
}